[Unit]
Description=InnoArk Kiosk Mode
After=innoark-edge.service
Requires=innoark-edge.service

[Service]
Type=simple
ExecStart=/usr/bin/sudo -u creeper /usr/bin/startx /opt/innoark-edge/scripts/kiosk.sh -- :0 vt1
Restart=always
RestartSec=5
StandardInput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target